*.exe
#./terraform-aws/terraform.tfvars
*.backup
backup/
*.tfstate
*.hcl
*.terraform
*.backup
*.tfstate
*.hcl
*.terraform
.pdf
*.pdf
*.tfstate.d
noderedvol/
*.c9
resize.sh
terraform.tfstate
terraform.tfstate.backup
kubectl
kubectl.sha256
k3s-noweder_node-*.yaml
.terraform.tfstate.lock